requests==2.26.0
Django==3.2
django-filter==22.1
djangorestframework==3.12.4
PyJWT==2.1.0
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
#code linters
flake8==3.9.2
flake8-docstrings
flake8-broken-line
flake8-return
flake8-isort==5.0.3
pep8-naming